<div class="banner">
  <div class="container">
    <h1>Save any kind of movies</h1>
    <p><strong>Classic</strong></p>
  </div>
</div>
<div class="categories">
  <div class="category">
    <h2>Classic Movies</h2>
    <img src="<%= asset_path('classic_movie.jpg') %>" alt="Classic Movies">
  </div>
  <div class="category">
    <h2>Heroes Movies</h2>
    <img src="<%= asset_path('heroes_movies.jpg') %>" alt="Heroes Movies">
  </div>
</div>
