<div class="banner">
  <div class="container">
    <h1>Save any kind of movies</h1>
    <p><strong>Classic</strong></p>
  </div>
</div>
<div class="categories">
  <% @lists.each do |list| %>
    <div class="category">
      <h2><%= list.name %></h2>
      <img src="<%= asset_path('classic_movie.jpg') %>" alt="Classic Movies">
    </div>
  <% end %>
  </div>
  <%= link_to "Create a movie list" , new_list_path, class: "btn btn-flat" %>
</div>
