<h1>Voici les films!</h1>

<ul>
  <% @movies.each do |movie| %>
  <li>
  <h2>Film:</h2>
  <%= movie.title %>
  </li>
  <li>
  <h2>Résumé:</h2>
  <%= movie.overview %>
  </li>
  <%= movie.poster_url %>
  <li>
  <h2>Note:</h2>
  <%= movie.rating %>
  </li>
  <% end %>
</ul>
