.categories {
  display: flex;
  justify-content: start;
}

.category {
  text-align: center;
  margin: 20px;
}

.category h2 {
  text-align: center;
}

.category img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
